html{
	margin : 0 auto;
	max-width: 1280px;
	display: block;
}

body {
	margin: 0;
	min-height : 700px;
	max-width : 1280px;
}

.clear{
	clear : both;
	margin : 0;
}

.clear:after{
	content : "";
	display : block;
	clear : both;
}

.container {
	max-width: 1280px;
	max-height : 2495px;
	position : relative;
	margin : 0;
}

header {
	width: 100%;
	height: 135px;
	background: black;
}

.title_area {
	display: inline-block;
	float: left;
	margin : 2% 0 0 5%;
	width : 20%;
}

.nav_top {
  	display: inline-block;
  	width : 70%;
}

.nav_top li {
  	list-style: none;
	float: right;
	margin : 11% 0 0 8%;
}

.nav_top a {
	display: block;
	color: white;
	font-family: FootLight MT Light;
  	font-size: 24px;
	text-decoration: none;
}

.nav_top a:hover {
  	color : yellow;
  	text-decoration: none;
}

#main {
  	background: white;
}

.banner_img {
	width : 100%;
	display : inline_block;
}

.banner{
	padding : 3% 5% 0 5%;
	width : 90%;
}

.news_title {
  margin-left: 46%;
  font-size: 44px;
  font-weight: bold;
  font-family: FootLight MT Light;
}

.news {
  display: inline-block;
  margin-left: 70px;
}

.bb {
  display: inline-block;
  width: 24%;
  float: left;
  margin-left: 10px;
}

.ro {
  display: inline-block;
  width: 24%;
  float: left;
  margin-left: 11px;
}

.ea {
  display: inline-block;
  width: 24%;
  float: left;
  margin-left: 11px;
}

.mml {
  display: inline-block;
  width: 24%;
  float: left;
  margin-left: 11px;
}

.bb h1 {
  font-size: 27px;
  margin-left: 30px;
}

.bb h2 {
  font-size: 20px;
  margin-left: 75px;
}

.bb p {
  width: 200px;
  margin-left: 30px;
}

.ro h1 {
  font-size: 27px;
  margin-left: 45px;
}

.ro h2 {
  font-size: 20px;
  margin-left: 60px;
}

.ro p {
  width: 200px;
  margin-left: 30px;
}

.ea h1 {
  font-size: 27px;
  margin-left: 30px;
}

.ea h2 {
  font-size: 20px;
  margin-left: 50px;
}

.ea p {
  width: 200px;
  margin-left: 30px;
}

.mml h1 {
  font-size: 27px;
  margin-left: 3px;
}

.mml h2 {
  font-size: 20px;
  margin-left: 50px;
}

.mml p {
  width: 200px;
  margin-left: 30px;
}

footer {
  	width: 100%;
  	height : 80px;
	margin: 3% 0 0 0;
	background-color: #E8E8E8;
}

.footer_p p {
	display: inline-block;
	color: #838db0;
	font-family: FootLight MT Light;
  	font-size: 16px;
  	line-height : 0px;
  	padding : 2% 0 1% 8%;
}

.footer_btn {
  	display: inline-block;
  	float : right;
  	padding : 2% 6% 1% 0;
  	width : 18%;
}

.footer_icon{
	margin : 0 0 0 10%;
	width : 16%;
}

.footer_icon:hover{
	opacity : 0.7;
}
