body {
	margin: 0 auto;
}

.container {
	width: 1280px;
	margin: 0 auto;
}

header {
  width: 1280px;
  height: 145px;
  background: black;
}

.title_area {
	display: inline-block;
	float: left;
  margin-top: 25px;
  margin-left: 80px;
}

.nav_top {
  display: inline-block;
  float: right;
  margin-right: 80px;
}

.nav_top li {
  list-style: none;
	float: right;
	margin-left: 50px;
	padding-top: 73px;
	padding-bottom: 16px;
}

.nav_top a {
	display: block;
	color: white;
	font-family: sans-serif;
  font-size: 24px;
	text-decoration: none;
}

#main {
  background: white;
  width: 1280px;
  height: 1486px;
}

.banner_img {
  margin-left: 80px;
  padding-top: 39px;
}

.nav_btn_event {
	width: 1280px;
  margin-left: 70px;
  display: inline-block;
  float: left;
}

.nav_btn_event li {
  list-style: none;
	float: left;
  padding: 55px 18px 10px 18px;
}

.p_event {
	margin-left: 80px;
	width: 1280px;
	display: inline-block;
}

.p_event p {
	font-size: 40px;
	font-weight: bold;
	margin: 0;
  float: left;
	padding: 0px 102px 40px 80px;
}

.character_img {
	margin-left: 138px;
	width: 1280px;
	display: inline-block;
}

.character_img_left {
	display: inline-block;
}

.character_img_right {
	display: inline-block;
}

.character_img_right_bottom {
	display: inline-table;
}

.character_img_left a {
	padding: 0px 14px 0px 14px;
	float: left;
}

.character_img_right a {
	padding: 0px 14px 0px 14px;
  float: left;
}


#footer {
  width: 1280px;
	height: 69px;
	margin: 0 auto;
	background-color: #c8e5e9;
}

.footer_p p{
	margin: 0px;
	display: inline-block;
	float: left;
	color: gray;
	margin-top: 28px;
	margin-left: 147px;
}

.footer_nav_btn {
  margin-right: 145px;
  display: inline-block;
  float: right;
}

.footer_nav_btn li {
  list-style: none;
	float: right;
  padding: 14px 5px 9px 5px;
}
